@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    line-height: 1em;

}
:root{
    --blue:#6439FF;
    --mint: #7CF5FF;
    --white:#fff;
    --black: #000;
    --grey: #222831;


}
a{ color:var(--blue);}
a:visited{ color: var(--grey)};
a:hover{ color: var(--mint);}


header{
    background-color: var(--blue);
    color: var(--white);
    width:100% ;
    height: 80px;
}

.logo-header{
    max-width: 80px !important;
    float: left;
    margin-left: 30px;

}
.menu{
    list-style: none !important;
    float: right;
    margin: 30px 10px;
    text-align: center;
    

}
.menu li{
    display: inline;
    background-color: var(--grey);
    padding: 20px;
    border-radius: 5px;
}  
.menu li a{
    color: var(--white);
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-decoration: none;
}
.menu li a:hover{
    color: var(--mint);
}
.servicios{
    width: 94%;
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 20px;
    padding-right: 3%;
    padding-left: 3%;

}

.card{
    background-color: var(--white);
    border: var(--blue) 2px solid;
    border-radius: 10px;
    padding: 30px 50px;
    font-family: "Poppins", sans-serif;
    

}
.card h3{
    font-size: 1.5em;
    color: var(--grey);
    font-weight: 800;
    text-align: center;
    
}

.card p{
    text-align: center;
    color: var(--grey);
}
p{
    font-size: 16px;
}

/*INICIO DE ESTILO PARA TITULO DE SECCION**/

.titulo-seccion{
    text-align: center;
}

.titulo-seccion h2{
    font-size: 36px ;
    font-weight: 800;
    line-height: 1.2em;
    

}
.titulo-seccion p{
    font-size: 18px;
    line-height: 1.2em;


}

/**/

/* color de secciones - fuentes*/
.primary-color{
    background-color: var(--blue);
}
.primary-font{
    color: var(--blue);
}
.white-color{
    color: var(--white)
}

/*padding */
.padding-20x{
    padding: 20px;
}
.padding-50x{
    padding: 50px;

}
.padding-top-100x{
    padding-top: 100px;
}
.padding-bottom-100x{
    padding-bottom: 100px;
}


/*botones */
.primary-button{
    background-color: var(--white);
    color:var(--blue);
    font-weight: 800;
    font-size: 24px;
    border-radius: 5px;
    padding: 15px;
    width: 300px;


}
.primary-button:hover{
    background-color: yellow;
    color:var(--white);
}

/*CSS SECCION CONTACTO**/
.contacto{
    width: 94%;
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 20px;
}
.contacto h2{
    font-size: 36px;
    
}
.right-column input[type="text"], [type="tel"], [type="email"]{

    width: 95%;
    padding: 5px;
    border-radius: 5px;
    border-color: var(--grey);
    font-size: 18px;
    color: var(--grey);
    margin-bottom: 20px;
    margin-top: 10px;
}
.right-column  label{
    width: 100%;
    font-size: 18px;
    color: var(--black);
    margin-bottom: 15px;
}

.right-column textarea{
    width: 100%;
    font-size: 18px;
    color: var(--black);
    margin-bottom: 15px;
}

.right-column input[type="submit"]{
    background-color: var(--blue);
    color: var(--white);
    font-size: 18px;
    padding: 20px;
    border-radius: 15px;
    width: 100%;

}

.footer{
    background-color: var(--grey);
    display: grid;
    grid-template-columns: auto auto auto;
    line-height: 1.5em;
    padding-top: 5%;
    width: 100%;

}
.social-icons ul{
    list-style: none;

}
.social-icons li{
    display: inline;
    font-size: 26px;
    padding: 10px;
    list-style: none;
    
  

}
.social-icons li a{
    color: var(--white);
}
.social-icons li a:hover{
    color: var(--mint);
}

.logo-footer{
    max-width: 100px;
    margin-left: 30px;

}
.footer-servicios li{
    list-style: circle;
    line-height: 1.7em;
    padding-top: 5px;
}
.footer-servicios li a{
    color: var(--white);
    text-decoration: none;
    

}
.footer-servicios li a:hover{
    color: var(--mint);
    text-decoration: none;
}


/**PAGINA DE CONTACTO*/
.lista-contacto li{
    list-style: circle;
    line-height: 1.7em;
    padding-top: 5px;

}

.lista-contacto li a{
    color: var(--black);
    text-decoration: none;

}


/* PAGINA DE DESARROLLO WEB*/
.col-servicio{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20xp;
}
h1{
    font-size: 2.2em;
}
.img-responsive{
    width: 100%;

}
.border-white{
    border: 3px solid #fff;
    box-shadow: 5px 5px 15px #00000077;
    
}
.col-1{
    padding: 30px;
    padding-right: 10%;
    line-height: 1.8em;
}


/* listas dentro de CARD*/
.card ul li {
    list-style-type: square;
    font-family: "Poppins", sans-serif;
    line-height: 1.8em;

}